
.MainAppContainer {
    display: grid;
    grid-template-areas:
        "header"
        "description";
    grid-template-rows:
        auto auto;
    gap: 10px;
}

/* ------------------------------- */



.HeaderContainer {
    display: grid;
    grid-template-areas:
        "logoBox empty empty empty empty menuBox";
}

.LogoBox {
    background-color: #ca62ca;
    display: grid;
    place-items: center;
    grid-area: logoBox;
}

.CentrlBox {
    grid-area: empty;
}

.MenuBox {
    background-color: #9a709a;
    grid-area: menuBox;
}

.LogoForm {
    background-image: url("/Users/daniliyk/Documents/LendingAdmPro/admpro/src/Components/Header/BetaLogo.jpg");
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

/* ------------------------------- */


/* .DescriptionContainer {
    background-color: #8b84bc;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 0px 4%;
    padding: 1%;
} */

.DescriptionContainer {
    display: grid;
    grid-template-areas:
        "textBox textBox textBox"
        "imageBox imageBox imageBox"
        ". buttonBox .";
    gap: 10px;
    /* grid-template-columns: minmax(150px, 703px) auto; */
    grid-template-rows: 1fr 4fr 1fr;
}

@media (min-width: 640px) {
    .DescriptionContainer {
        display: grid;
        grid-template-areas:
            "textBox textBox textBox"
            "imageBox imageBox buttonBox";
        gap: 10px;
        grid-template-rows: 1fr 4fr;
    }
}

.TextBox {
    background-color: #7d6bf3;
    /* margin-bottom: 1%; */
    grid-area: textBox;
}

/* .Bottom {
    background-color: #4b4090;
    padding: 1%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 5%;
} */

.ImageBox {
    background-image: url("/Users/daniliyk/Documents/LendingAdmPro/admpro/src/Components/Description/DescriptionCat.jpeg");
    /* width: 703px;
    height: 463px; */
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    grid-area: imageBox;
}

.ButtonBox {
    display: grid;
    place-items: center;
    background-color: #290bea;
    grid-area: buttonBox;
}