
.MainAppContainer {
    display: grid;
    grid-template-areas:
        "header"
        "description";
    grid-template-rows:
        auto auto;
    gap: 10px;
}

/* ------------------------------- */



.HeaderContainer {
    display: grid;
    grid-template-areas:
        "logoBox empty empty empty empty menuBox";
}

.LogoBox {
    background-color: #ca62ca;
    display: grid;
    place-items: center;
    grid-area: logoBox;
}

.CentrlBox {
    grid-area: empty;
}

.MenuBox {
    background-color: #9a709a;
    grid-area: menuBox;
}

.LogoForm {
    background-image: url("/Users/daniliyk/Documents/LendingAdmPro/admpro/src/Components/Header/BetaLogo.jpg");
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

/* ------------------------------- */


/* .DescriptionContainer {
    background-color: #8b84bc;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 0px 4%;
    padding: 1%;
} */

.DescriptionContainer {
    display: grid;
    grid-template-areas:
        "textBox textBox textBox"
        "imageBox imageBox imageBox"
        ". buttonBox .";
    gap: 10px;
    /* grid-template-columns: minmax(150px, 703px) auto; */
    grid-template-rows: 1fr 4fr 1fr;
}

@media (min-width: 640px) {
    .DescriptionContainer {
        display: grid;
        grid-template-areas:
            "textBox textBox textBox"
            "imageBox imageBox buttonBox";
        gap: 10px;
        grid-template-rows: 1fr 4fr;
    }
}

.TextBox {
    background-color: #7d6bf3;
    /* margin-bottom: 1%; */
    grid-area: textBox;
}

.ImageBox {
    background-image: url("/Users/daniliyk/Documents/LendingAdmPro/admpro/src/Components/Description/DescriptionCat.jpeg");
    /* width: 703px;
    height: 463px; */
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    grid-area: imageBox;
}

.ButtonBox {
    display: grid;
    place-items: center;
    background-color: #290bea;
    grid-area: buttonBox;
}

@font-face {
    font-family: "Oswald-head";
    src: url(/Users/daniliyk/Documents/LendingAdmPro/admpro/fonts/Oswald/static/Oswald-Bold.ttf);
}

@font-face {
    font-family: "Oswald-paragraph";
    src: url(/Users/daniliyk/Documents/LendingAdmPro/admpro/fonts/Oswald/static/Oswald-Light.ttf);
}

.Head{
    font-family: "Oswald-head";
    font-size: 40px;
}

.Text{
    font-family: "Oswald-paragraph";
    font-size: 22px;
    
}

/* ----------------------------- */

.Btnwrapper{
  width: 50%;
}

.btn {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: .25em;
  --curve-size: .5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
    /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: .5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
  clip-path: polygon(
            /* Top-left */
            0% var(--curve-size),

            var(--curve-size) 0,
            /* top-right */
            100% 0,
            100% calc(100% - var(--curve-size)),

            /* bottom-right 1 */
            calc(100% - var(--curve-size)) 100%,
            /* bottom-right 2 */
            0 100%);
  transition: color 250ms;
}

.btn::after,
.btn::before {
  content: '';
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%
  }

  50% {
    background-position: 70% 100%
  }

  100% {
    background-position: 31% 0%
  }
}

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
            /* Top-left */
            var(--border-width) 
            calc(var(--curve-size) + var(--border-width) * .5),

            calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),

            /* top-right */
            calc(100% - var(--border-width)) 
            var(--border-width),

            calc(100% - var(--border-width)) 
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
            /* bottom-right 2 */
            var(--border-width) calc(100% - var(--border-width)));
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
  clip-path: polygon(
                /* Top-left */
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    
                calc(100% - var(--border-width))

                var(--border-width),
    
                /* top-right */
                calc(100% - var(--border-width))

                 var(--border-width),
    
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
    
                /* bottom-right 1 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                calc(100% - var(--border-width)),

                /* bottom-right 2 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                calc(100% - var(--border-width)));
  transition: 200ms;
}

.btn:where(:hover, :focus) {
  color: #fff;
}

