/* div {
    display: grid;
    grid-template-areas: 
    "head head head"
    "side content content"
    "foot foot foot";
    grid-template-rows: 50px auto 50px;
    gap: 10px;
} 
/header{
    display: grid;
    place-items: center;
    grid-area: head;
    background-color: aqua;
}
article{
    display: grid;
    place-items: center;
    grid-area: content;
    background-color: blue;
}
side{
    display: grid;
    place-items: center;
    grid-area: side;
    background-color: green;
}
footer{
    display: grid;
    place-items: center;
    grid-area: foot;
    background-color: red;
} */
/* .Main{
    display: grid;
    grid-template-areas: 
    "head head head"
    "sidebar sidebar button" ;
    grid-template-rows: 1fr 3fr;
    gap: 1%;
}
@media screen and (max-width: 767px) {
    .Main{
        display: grid;
        grid-template-areas: 
        "head head head"
        "sidebar sidebar sidebar" 
        ". button ." ;
        grid-template-rows: 1fr 3fr 1fr;
        gap: 1%;
    }
} */
.Main{
    display: grid;
    grid-template-areas: 
    "head"
    "bottom" ;
    grid-template-rows: 1fr 3fr;
    gap: 1%;
}
.bottom{
    grid-area: bottom;
    display: grid;
    grid-template-columns: repeat(auto-fit);
}

.Header{
    display: grid;
    place-items: center;
    grid-area: head;
    background-color: aqua;
}
.Sidebar{
    display: grid;
    place-items: center;
    /* grid-area: sidebar; */
    background-color: blue;
}
.Content{
    display: grid;
    place-items: center;
    /* grid-area: button; */
    background-color: green;
}
/* .Footer{
    display: grid;
    place-items: center;
    grid-area: foot;
    background-color: red;
} */
/* ---------------------- */
