
.MainAppContainer {
    display: grid;
    grid-template-areas:
        "header"
        "description";
    grid-template-rows:
        auto auto;
    gap: 10px;
}

/* ------------------------------- */



.HeaderContainer {
    display: grid;
    grid-template-areas:
        "logoBox empty empty empty empty menuBox";
}

.LogoBox {
    background-color: #ca62ca;
    display: grid;
    place-items: center;
    grid-area: logoBox;
}

.CentrlBox {
    grid-area: empty;
}

.MenuBox {
    background-color: #9a709a;
    grid-area: menuBox;
}

.LogoForm {
    background-image: url("/Users/daniliyk/Documents/LendingAdmPro/admpro/src/Components/Header/BetaLogo.jpg");
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

/* ------------------------------- */


/* .DescriptionContainer {
    display: grid;
    grid-template-areas:
        "textBox textBox textBox"
        "imageBox imageBox imageBox"
        ". buttonBox .";
    gap: 10px;
    grid-template-rows: 1fr 3fr 1fr;
} */
.DescriptionContainer{
    display: grid;
    grid-template-columns: 3fr 1fr;

}

@media (min-width: 640px) {
    .DescriptionContainer {
        display: grid;
        grid-template-areas:
            "textBox textBox textBox"
            "imageBox imageBox buttonBox";
        gap: 10px;
        grid-template-rows: 1fr 4fr;
    }
}

.TextBox {
    background-color: #7d6bf3;
    grid-area: textBox;
    font-size: 18px;
}

.ImageBox {
    /* background-image: url("/Users/daniliyk/Documents/LendingAdmPro/admpro/src/Components/Description/DescriptionCat.jpeg"); */
    /* width: 703px;
    height: 463px; */
    /* width: auto;
    height: auto; */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block; */
    border-color: red;
    grid-area: imageBox;
    /* position: relative; */
    /* width: calc(210px + (100% - 220px)/12*6); */
    font-size: 18px;
    width: 100%;
    height: 20em;
    padding: 0.3%;
    /* padding-top: 56.25%;  */
    /* height: 50%;
    width: 100%; */
    /* max-width: 720px; */
}

.wrapper{
    background-image: url("/Users/daniliyk/Documents/LendingAdmPro/admpro/src/Components/Description/svgTesting.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    width: 80%;
    height: 100%;
} 
.img1{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.ButtonBox {
    display: grid;
    place-items: center;
    background-color: #290bea;
    grid-area: buttonBox;
}

/* ------------------------- */
.div1{
    width: calc(200px + (100% - 220px)/12*6);
}
.div2{
    height: 0;
    padding-bottom: 135%;
    position: relative;
    overflow: hidden;
}
.div3{
    top: 0;
    bottom: 0;
}
.div4{
    overflow: hidden;
}
.div5{
    background-image: radial-gradient(circle at top left, #f5f5f5, #c9c9c9);
}
.imgTest{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}