@font-face {
    font-family: "Oswald-medium";
    src: url(/Users/daniliyk/Documents/LendingAdmPro/admpro/fonts/Oswald/static/Oswald-Medium.ttf);
}
.HeadT{
    /* text-align: center; */
    font-family: "Oswald-medium";
    color: #481173;
    font-size: 26px;
    line-height: 39px;
    margin-top: 0;
    margin-bottom: 0;
}
.BodyT{
    /* text-align: center; */
    font-family: "Oswald-paragraph";
    font-size: 26px;
    line-height: 39px;
    margin-top: 0;
    margin-bottom: 0;
}
.LeftTextUp {
    grid-area: LUp;
    margin-bottom: 3%;
        text-align: left;
  }
  .LeftTextDown {
    grid-area: LDown;
    margin-top: 3%;
    text-align: left;
  }

  .RightTextUp {
    grid-area: RUp;
    margin-bottom: 3%;
    text-align: right;

  }
  .RightTextDown {
    grid-area: RDown;
    margin-top: 3%;
    text-align: right;

  }
  
  @media screen and (max-width: 1023px) {
    .LeftTextUp {
      margin-bottom: 1%;
      text-align: left;
    }
    .LeftTextDown {
      margin-top: 1%;
      text-align: left;
    }
    .RightTextUp {
      margin-bottom: 1%;
      text-align: left;
    }
    .RightTextDown {
      margin-top: 1%;
      text-align: left;
    }
  }