.SubsPageContainer {
  grid-area: subscript;
  display: grid;
  grid-template-areas: "s1 s2 s3";
  grid-template-rows: 600px;
  margin-left: 2%;
  margin-right: 2%;
  /* margin-top: 30px; */
  column-gap: 2%;
  row-gap: 5%;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .SubsPageContainer {
        grid-template-areas: 
        "s1 s1 . s2 s2"
        ". s3 s3 s3 .";
        grid-template-rows: 600px 600px;
        margin-left: 2%;
        margin-right: 2%;
        /* margin-top: 30px; */
        column-gap: 0;
      }
}

@media screen and (max-width: 767px) {
  .SubsPageContainer {
    display: grid;
    grid-template-areas:
      "s1"
      "s2"
      "s3";
    grid-template-rows: 600px 600px 600px 600px;
    margin-left: 5%;
    margin-right: 5%;
    /* margin-top: 30px; */
    column-gap: 10%;
    row-gap: 2%;
  }
}

.Sub1 {
  /* background-image: url("https://picsum.photos/380/600"); */
  /* border: solid; */
  grid-area: s1;
  display: grid;
  place-items: center;
  /* max-width: 100%; */
  width: 100%;
  height: auto;
  object-fit: contain;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block; */
padding-top: 1%;
padding-bottom: 1%;

}

.Sub2 {
  /* background-image: url("https://picsum.photos/380/600"); */
  /* border: solid; */
  grid-area: s2;
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;
  object-fit: contain;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block; */
  padding-top: 1%;
  padding-bottom: 1%;
}

.Sub3 {
  /* background-image: url("https://picsum.photos/380/600"); */
  /* border: solid; */
  grid-area: s3;
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;
  object-fit: contain;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block; */
  padding-top: 1%;
  padding-bottom: 1%;
}

.SubPost{
    /* background-color: aquamarine; */
    /* width: 298px; */
    width: 360px;
    height: 100%;
    padding-top: 10px;
    border: solid;
    border-color: #cecccc9d;
    box-shadow: 8px 12px 8px #cecccc9d;
    border-radius: 10px;
    display: grid;
    place-items: center;
    grid-template-rows: 6fr 1fr;
}

@media screen and (min-width: 1023px) and (max-width: 1160px) {
    .SubPost{
            width: 298px;
    }
}

/* .DescriptSub{
background-color: rgb(180, 219, 206);
} */

.ButtonBox{
display: grid;
place-items: center;
}

.ButtonDesign{
  width: 165px;
  height: 62px;
  cursor: pointer; /* загуглить */
  color: #fff;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: relative; /* загуглить */
  background: #100720;
}

img {
  max-width: 100%;
}
