.SubscriptionContainer{
    background-color: #FA8072;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px 4%;
    padding: 1%;
    

}
.Top{
    background-color: #f0b6b0;
    margin-bottom: 1%;

}
.Bottom{
    background-color: #b05d53;
    padding: 1%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 5%;
}
.ImageBox{
    background-image: url("./SubscriptionCat.avif") ;
    width: 703px;
    height: 463px;
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.ButtonBox{
    display: grid;
    place-items: center;
    background-color: #e84230;
}