.SubsPageContainer {
  /* background-color: #f4f7fc; */
  grid-area: subscript;
  display: grid;
  grid-template-areas: "s1 s2 s3";
  /* grid-template-rows: 600px; */
  margin-left: 2%;
  margin-right: 2%;
  column-gap: 2%;
  row-gap: 5%;
  margin-bottom: 5%;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .SubsPageContainer {
    grid-template-areas:
      "s1 s1 . s2 s2"
      ". s3 s3 s3 .";
    /* grid-template-rows: 600px 600px; */
    margin-left: 2%;
    margin-right: 2%;
    /* margin-top: 30px; */
    column-gap: 0;
  }
}

@media screen and (max-width: 767px) {
  .SubsPageContainer {
    display: grid;
    grid-template-areas:
      "s1"
      "s2"
      "s3";
    /* grid-template-rows: 600px 600px 600px; */
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    column-gap: 10%;
    row-gap: 2%;
  }
}

.Sub1 {
  grid-area: s1;
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;
  object-fit: contain;
  padding-top: 1%;
  padding-bottom: 1%;
}

.Sub2 {
  grid-area: s2;
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;
  object-fit: contain;
  padding-top: 1%;
  padding-bottom: 1%;
}

.Sub3 {
  grid-area: s3;
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;
  object-fit: contain;
  padding-top: 1%;
  padding-bottom: 1%;
}

.SubPost {
  width: 360px;
  height: 100%;
  padding-top: 10px;
  border: solid;
  border-color: #cecccc9d;
  box-shadow: 8px 12px 8px #cecccc9d;
  border-radius: 10px;
  display: grid;
  place-items: center;
  grid-template-rows: 6fr 1fr;
}
.SubPost:hover {
  box-shadow: 12px 16px 12px #8a8a8a9d;
}

@media screen and (min-width: 1023px) and (max-width: 1160px) {
  .SubPost {
    width: 298px;
  }
}

/* .DescriptSub{
  background-color: rgb(180, 219, 206);
  } */

.ButtonBox {
  display: grid;
  place-items: center;
}

.ButtonDesign {
  width: 265px;
  height: 55px;
  cursor: pointer; /* загуглить */
  color: #fff;
  font-size: 22px;
  border-radius: 1rem;
  border: none;
  position: relative; /* загуглить */
  font-family: "Oswald-medium-button";
  background: #481173;
}
.ButtonDesign:hover {
  /* width: 267px;
  height: 57px; */
  transform: scale(1.03);
}

.ButtonDesign::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 94, 247, 1) 17.8%,
    rgba(2, 245, 255, 1) 100.2%
  );
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.ButtonDesign:active {
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 94, 247, 1) 17.8%,
    rgba(2, 245, 255, 1) 100.2%
  );
}

img {
  max-width: 100%;
}
