/* .AboutUsContainer{
    background-color: #87CEEB;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px 4%;
    padding: 1%;
} */
/* .Top{
    background-color: #14b0ed;
    margin-bottom: 1%;
}
.Bottom{
    background-color: #638998;
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 5%;
} */
/* .ImageBox{
    background-image: url("./AboutAsCat.jpeg") ;
    width: 703px;
    height: 463px;
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
} */
/* .ButtonBox{
    display: grid;
    place-items: center;
    background-color: #035d80;
} */

/* --------------------------- */

.AboutUsContainer {
    background-color: #87CEEB;
    margin-left: 1%;
    margin-right: 1%;
    display: grid;
    grid-area: aboutUs;
    grid-template-areas:
        "textBox textBox textBox"
        "imageBox imageBox imageBox"
        ". buttonBox .";
    /* gap: 10px; */
    /* grid-template-columns: minmax(150px, 703px) auto; */
    grid-template-rows: 1fr 4fr 1fr;
    gap: 5%;

}

@media (min-width: 640px) {
    .AboutUsContainer {
        background-color: #87CEEB;
        display: grid;
        margin-left: 3%;
        margin-right: 3%;
        grid-area: aboutUs;
        grid-template-areas:
            "textBox textBox textBox"
            "buttonBox imageBox imageBox";
        grid-template-rows: 1fr 4fr;
    }
}

.ImageBox{
    background-image: url("./AboutAsCat.jpeg") ;
    width: auto;
    height: auto;
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  grid-area: imageBox;
}

.TextBox {
    background-color: #14b0ed;
    /* margin-bottom: 1%; */
    grid-area: textBox;
}

.ButtonBox{
    display: grid;
    place-items: center;
    background-color: #035d80;
    grid-area: buttonBox;
}