/* .DescriptionContainer{
    background-color: #8b84bc;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px 4%;
    padding: 1%;
    gap: 1%;
}

.Top{
background-color: #7d6bf3;
margin-bottom: 1%;
}
.Bottom{
    background-color: #4b4090;
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-flow: row dense;
    gap: 1%;
}
.ImageBox{
    background-image: url("./DescriptionCat.jpeg") ;
    width: 520px;
    height: 400px;
     width: auto;
    height: auto; 
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}

.ButtonBox{
    display: grid;
    place-items: center;
    background-color: #290bea;
} */

/* ------------------------ */

/* .TestingContainer {
    background-color: #a8a6b6;
    display: grid;
    grid-area: testing;
    grid-template-areas:
    "textBox textBox textBox"
    "imageBox imageBox buttonBox";
grid-template-rows: 1fr 3fr;
    border: solid;
} */
.TestingContainer {
    /* background-color: #a8a6b6; */
    display: grid;
    grid-area: testing;
    grid-template-areas:
    ". . textBox textBox textBox . ."
    "LimageBox LimageBox LimageBox buttonBox RimageBox RimageBox RimageBox";
grid-template-rows: 1fr 3fr;
    border: solid;
}

/* @media (max-width: 767px) {
    .TestingContainer {
        display: grid;
        grid-area: testing;
        grid-template-areas:
        "textBox textBox textBox"
        "imageBox imageBox imageBox"
        ". buttonBox .";
        grid-template-rows: 1fr 3fr 1fr;

    }
} */
.LImageBox {
    max-width: 100%;
    height: auto;
    grid-area: LimageBox;
    justify-self: center;
}
.RImageBox {
    max-width: 100%;
    height: auto;
    grid-area: RimageBox;
    justify-self: center;
}

.Pictur1{
width: 100%;
height: 100%;
object-fit: contain;
}

h1{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 28px;
    color: #000000;
    text-align: center;
}
.TextBox {
    padding: 2%;
    /* background-color: #7d6bf3; */
    grid-area: textBox;
}


.ButtonBox {
    display: grid;
    place-items: center;
    /* background-color: #290bea; */
    grid-area: buttonBox;
}

.TestingButton{
    width: 165px;
    height: 62px;
    cursor: pointer; /* загуглить */
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative; /* загуглить */
    background: #100720;
}
