/* .DescriptionContainer{
    background-color: #8b84bc;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px 4%;
    padding: 1%;
    gap: 1%;
}

.Top{
background-color: #7d6bf3;
margin-bottom: 1%;
}
.Bottom{
    background-color: #4b4090;
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-flow: row dense;
    gap: 1%;
}
.ImageBox{
    background-image: url("./DescriptionCat.jpeg") ;
    width: 520px;
    height: 400px;
     width: auto;
    height: auto; 
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}

.ButtonBox{
    display: grid;
    place-items: center;
    background-color: #290bea;
} */

/* ------------------------ */

.DescriptionContainer {
    /* background-color: #8b84bc; */
    margin-left: 3%;
    margin-right: 3%;
    display: grid;
    grid-area: description;
    grid-template-areas:
    "textBox textBox textBox"
    "imageBox imageBox imageBox"
    ". buttonBox .";
    grid-template-rows: 1fr 3fr 1fr;
    gap: 5%;
    padding: 1%;
    border: solid;
    border-color: #9c4598;
    border-radius: 10px;
    box-shadow: 5px 8px 4px rgba(2,245,255,1);  
}

@media (min-width: 767px) {
    .DescriptionContainer {
        display: grid;
        margin-left: 10%;
        margin-right: 10%;
        grid-area: description;
        grid-template-areas:
            "textBox textBox textBox"
            "imageBox imageBox buttonBox";
        grid-template-rows: 1fr 3fr;
    }
}

h1{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 28px;
    color: #000000;
    text-align: center;
}
.TextBox {
    padding: 2%;
    /* background-color: #7d6bf3; */
    /* border-radius: 10px; */
    /* background: linear-gradient(342deg, rgba(2,0,36,1) 0%, rgba(187,113,184,0.871608018207283) 38%, rgba(0,212,255,1) 100%); */
    grid-area: textBox;
}

.ImageBox {
    /* background-image: url(/Users/daniliyk/Documents/LendingAdmPro/admpro/src/Components/Description/svgTesting.png); */
    max-width: 80%;
    height: auto;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block; */
    grid-area: imageBox;
    justify-self: center;
}

.Pictur1{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.ButtonBox {
    display: grid;
    place-items: center;
    /* background-color: #290bea; */
    grid-area: buttonBox;
}

.DiscriptionButton{
    width: 165px;
    height: 62px;
    cursor: pointer; /* загуглить */
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative; /* загуглить */
    background: #100720;
}

.DiscriptionButton::after{
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient( circle 
                      farthest-corner at 10% 20%, 
                      rgba(255,94,247,1) 17.8%, 
                      rgba(2,245,255,1) 100.2%);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

.DiscriptionButton:active{
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient( circle 
    farthest-corner at 10% 20%, 
    rgba(255,94,247,1) 17.8%, 
    rgba(2,245,255,1) 100.2%);;
}
