
.DescriptionContainer {
    /* background-color: #8b84bc; */
    /* background: #100720; */
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    grid-area: description;
    grid-template-areas:
    "textBox textBox textBox"
    "imageBox imageBox imageBox"
    ". buttonBox .";
    /* gap: 10px; */
    /* grid-template-columns: minmax(150px, 703px) auto; */
    grid-template-rows: 1fr 2fr 1fr;
    gap: 5%;
    padding: 1%;
    border: solid;
    border-color: #9c4598;
    border-radius: 10px;
    box-shadow: 5px 8px 4px rgba(2,245,255,1);
    
}

@media (min-width: 640px) {
    .DescriptionContainer {
        /* background-color: #8b84bc; */
        display: grid;
        margin-left: 10%;
        margin-right: 10%;
        grid-area: description;
        grid-template-areas:
            "textBox textBox textBox"
            "imageBox imageBox buttonBox";
        /* gap: 10px; */
        grid-template-rows: 1fr 3fr;
    }
}

.TextBox {
    padding: 1%;
    /* background-color: #7d6bf3; */
    border-radius: 10px;
    background: linear-gradient(342deg, rgba(2,0,36,1) 0%, rgba(187,113,184,0.871608018207283) 38%, rgba(0,212,255,1) 100%);
    grid-area: textBox;
}

.DescriptionText{
padding-left: 5%;
padding-right: 5%;
}

.TextEdit{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

.ImageBox {
    /* background-image: url(/Users/daniliyk/Documents/LendingAdmPro/admpro/src/Components/Description/svgTesting.png); */
    /* width: 412px; */
    width: 100%;
    height: auto;
    /* max-height: 540px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block; 
    
    grid-area: imageBox;
    justify-self: center;
    /* position: relative;
    padding-top: 0.1%; */
}

.DescriptionImg{
    background-image: url(/Users/daniliyk/Documents/LendingAdmPro/admpro/src/Components/Description/svgTesting.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block; 
    width: 420px;
    height: auto; 
    /* object-fit: cover; */
    /* position: absolute;
    left: 0;
    top: 0; */
} 
@media screen and (min-width: 640px) and (max-width:1023px) {
    .DescriptionContainer{
        margin-left: 5%;
        margin-right: 5%;
    display: grid;
    grid-area: description;
    grid-template-areas:
    "textBox textBox textBox"
    "imageBox imageBox imageBox"
    ". buttonBox .";
    grid-template-rows: 1fr 2fr 1fr;
    }
    .DescriptionImg{
        width: 100%;
        height: 100%; 
        object-fit: cover;
    } 
}

.ButtonBox {
    display: grid;
    place-items: center;
    /* background-color: #290bea; */
    grid-area: buttonBox;
}

.DiscriptionButton{
    width: 165px;
    height: 62px;
    cursor: pointer; /* загуглить */
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative; /* загуглить */
    background: #100720;
}

.DiscriptionButton::after{
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient( circle 
                      farthest-corner at 10% 20%, 
                      rgba(255,94,247,1) 17.8%, 
                      rgba(2,245,255,1) 100.2%);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

.DiscriptionButton:active{
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient( circle 
    farthest-corner at 10% 20%, 
    rgba(255,94,247,1) 17.8%, 
    rgba(2,245,255,1) 100.2%);;
}
