@font-face {
  font-family: "Oswald-head";
  src: url("../../../fonts/Oswald/static/Oswald-Bold.ttf");
  /* src: url(/Users/daniliyk/Documents/LendingAdmPro/admpro/fonts/Oswald/static/Oswald-Bold.ttf); */
}

@font-face {
  font-family: "Oswald-paragraph";
  src: url("../../../fonts/Oswald/static/Oswald-Light.ttf");
  /* src: url(/Users/daniliyk/Documents/LendingAdmPro/admpro/fonts/Oswald/static/Oswald-Light.ttf); */
}

@font-face {
  font-family: "Oswald-medium-button";
  src: url("../../../fonts/Oswald/static/Oswald-Medium.ttf");
  /* src: url(/Users/daniliyk/Documents/LendingAdmPro/admpro/fonts/Oswald/static/Oswald-Medium.ttf); */
}

  .DescriptionContainer {
    display: grid;
    grid-area: description;
    display: grid;
    grid-template-areas: "imageBox content";
    grid-template-columns: 1fr 1fr;
    /* padding-left: 5%; */
    padding-right: 5%;
    column-gap: 1%;
    margin-bottom: 5%;
  }
  
  .ContentBox {
    grid-area: content;
    display: grid;
    grid-template-areas:
      "headText"
      "button"
      "subText";
      margin-top: 5%;
      margin-bottom: 5%;
  }
  
  @media screen and (max-width: 767px){
      .DescriptionContainer {
          grid-template-areas: 
          "imageBox"
          "content";
          grid-template-columns: 1fr;
      }
      .ContentBox {
          row-gap: 5%;
      }
      .ImageBox {
          display: grid;
          justify-content: center;
      }
  }
  
  .TextBox {
    padding: 2%;
    grid-area: headText;
  }
  
  .ButtonBox {
    display: flex;
    justify-content: center;
    grid-area: button;
    margin-top: 5%;
    margin-bottom: 3%;
  }
  
  .SubTextBox {
    padding: 2%;
    grid-area: subText;
  }

  
  .HeadText {
    font-family: "Oswald-head";
    font-size: 40px;
    color: #000000;
    text-align: right;
    line-height: 44px;
  }
  .SubText {
      margin-right: 10%;
      font-family: "Oswald-paragraph";
      font-size: 24px;
    color: #000000;
    text-align: left;
    line-height: 28px;
  }
  
  .ImageBox {
    /* max-width: 100%; */
    /* height: auto; */
    grid-area: imageBox;
    display: grid;
    align-content: center;
    justify-self: center;
  }
  
  .DiscriptionButton {
    width: 450px;
    height: 90px;
    cursor: pointer;
    color: #fff;
    font-size: 26px;
    border-radius: 1rem;
    border: none;
    position: relative;
    font-family: "Oswald-medium-button";
    background: #481173;
  }
  
  .DiscriptionButton:hover{
      /* width: 453px;
      height: 93px; */
      transform: scale(1.03);
      transition: 0.5s;
  }
  
  @media screen and (max-width: 1023px) {
    .DiscriptionButton {
      width: 340px;
      height: 85px;
      font-size: 21px;
    }
    .DiscriptionButton:hover{
      /* width: 343px;
      height: 88px; */
      /* transform: scale(1.03); */
      transition: scale(1.03) 1s;
  }
  }
  
  .DiscriptionButton::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(255, 94, 247, 1) 17.8%,
      rgba(2, 245, 255, 1) 100.2%
    );
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.5s;

  }
  
  .DiscriptionButton:active {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(255, 94, 247, 1) 17.8%,
      rgba(2, 245, 255, 1) 100.2%
    );
    transition: 0.5s;

  }
  
  /* backgroundColor */
  
  /* .TextBox {
      background-color: #7d6bf3;
    }
    .ButtonBox {
      background-color: #290bea;
    }
    .ImageBox {
      background-color: #b2aae6;
    } 
    .SubTextBox{
      background-color: #5347a3;
    } */