/* 
.HeaderContainer {
    background-color: #DDA0DD;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin: 0px 1%;
    margin-top: 1%;
}

.LogoBox {
    background-color: #ca62ca;
    display: grid;
    place-items: center;
}

.MenuBox {
    background-color: #9a709a;
}
.LogoForm{
    background-image: url("/Users/daniliyk/Documents/LendingAdmPro/admpro/src/Components/Header/BetaLogo.jpg") ;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}  */

/* ------------------------- */

.HeaderContainer {
    position: sticky;
    top: 0;
    /* border: solid; */
    /* background-color: #DDA0DD; */
    margin: 1% 1% 0 1%;
    display: grid;
    grid-area: header;
    grid-template-areas:
        "logoBox empty empty empty empty menuBox";
}

.LogoBox {
    /* background-color: #ca62ca; */
    /* border: solid; */
    display: grid;
    place-items: center;
    grid-area: logoBox;
}

.CentrlBox {
    display: grid;
    place-items: center;
    grid-area: empty;
}

.MenuBox {
    /* background-color: #9a709a; */
    /* border: solid; */
    grid-area: menuBox;
    display: grid;
    place-items: center;
}

.LogoForm {
    background-image: url("/Users/daniliyk/Documents/LendingAdmPro/admpro/src/Components/Header/BetaLogo.jpg");
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.MenuForm{
    background-color: wheat;
    width: 50px;
    height: 50px;
}