
.HeaderContainer {
    background-color: #DDA0DD;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin: 0px 1%;
    margin-top: 1%;

    /* grid-template-columns: minmax(100px,200px) minmax(100px,200px); */
    /* column-gap: 200px; */
}

.LogoBox {
    background-color: #ca62ca;
    /* display: flex;
    justify-content: center;
    align-items: center; */

    display: grid;
    place-items: center;
}

.MenuBox {
    background-color: #9a709a;
}
.LogoForm{
    background-image: url("/Users/daniliyk/Documents/LendingAdmPro/admpro/src/Components/Header/BetaLogo.jpg") ;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
} 
/* .LogoImg {

    width: 90px;
    height: 90px;
} */