@font-face {
    font-family: "Oswald-head";
    src: url(/Users/daniliyk/Documents/LendingAdmPro/admpro/fonts/Oswald/static/Oswald-Bold.ttf);
}

@font-face {
    font-family: "Oswald-paragraph";
    src: url(/Users/daniliyk/Documents/LendingAdmPro/admpro/fonts/Oswald/static/Oswald-Light.ttf);
}

.PossibilitiesContainer{
    grid-area: possibilities;
    display: grid;
    grid-template-areas: 
    "head"
    "selictor";
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 5%;
}


.ContentBox{
    grid-area: content;
    display: grid;
    grid-template-areas: 
    "textBox imgBox";
    grid-template-columns: 1fr 1fr;
    column-gap: 2%;
}



.HeadBox{
grid-area: head;
}

.HeadText{
    font-family: "Oswald-head";
    font-size: 40px;
    text-align: center;

}

.SelectorBox{
    grid-area: selictor;
}

.TextBox{
    grid-area: textBox;
}

.Paragraph{
    font-family: "Oswald-paragraph";
    font-size: 26px;
}

.ImgBox{
    grid-area: imgBox
}

/* -------------- */
/* .HeadBox{
    background-color: #87e78f;
    }
    
    .SelectorBox{
        background-color: #69b26f;
    }
    
    .TextBox{
        background-color: #1fe730;
    }
    
    .ImgBox{
        background-color: #178120;
    } */
