@font-face {
    font-family: "Oswald-head";
    src: url("../../../fonts/Oswald/static/Oswald-Bold.ttf");
    /* src: url(/Users/daniliyk/Documents/LendingAdmPro/admpro/fonts/Oswald/static/Oswald-Bold.ttf); */
  }
  
  @font-face {
    font-family: "Oswald-paragraph";
    src: url("../../../fonts/Oswald/static/Oswald-Light.ttf");
    /* src: url(/Users/daniliyk/Documents/LendingAdmPro/admpro/fonts/Oswald/static/Oswald-Light.ttf); */
  }
  
  @font-face {
    font-family: "Oswald-SemiHead";
    src: url("../../../fonts/Oswald/static/Oswald-SemiBold.ttf");
    /* src: url(/Users/daniliyk/Documents/LendingAdmPro/admpro/fonts/Oswald/static/Oswald-SemiBold.ttf); */
  }

.PossibilitiesContainer{
    grid-area: possibilities;
    display: grid;
    grid-template-areas: 
    "head"
    "selictor";
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 5%;
}


.ContentBox{
    grid-area: content;
    display: grid;
    grid-template-areas: 
    "textBox imgBox";
    grid-template-columns: 1fr 1fr;
    column-gap: 2%;
}



.HeadBox{
grid-area: head;
margin-bottom: 5%;
padding-left: 10%;
padding-right: 10%;
}

.HeadText{
    font-family: "Oswald-SemiHead";
    font-size: 38px;
    text-align: center;
    color: #545252;
}

.SelectorBox{
    grid-area: selictor;
}

.TextBox{
    grid-area: textBox;
}

.Paragraph{
    font-family: "Oswald-paragraph";
    font-size: 26px;
}

.ImgBox{
    grid-area: imgBox
}

/* -------------- */
/* .HeadBox{
    background-color: #87e78f;
    }
    
    .SelectorBox{
        background-color: #69b26f;
    }
    
    .TextBox{
        background-color: #1fe730;
    }
    
    .ImgBox{
        background-color: #178120;
    } */
