/* .TutorialContainer{
    background-color: #008080;
    margin: 0px 4%;
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(auto, auto);
    row-gap: 1%;
    padding-top: 1%;
} */
/* .Top{
    background-color: #333838;
    display: grid;
    place-items: center;
} */
/* .Bottom{
    background-color: #23eaea;
    display: grid;
    grid-template-rows: 2fr 1fr;
    row-gap: 10%;
    padding: 1%;
} */
/* .ImageBox{
    background-image: url("./TutorialCat.jpeg") ;
    width: 700px;
    height: 650px;
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
} */
/* .TextBox{
    background-color: #627979;
    display: grid;
    place-items: center;
} */
/* .ButtonBox{
    background-color: #0a5454;
    display: grid;
    place-items: center;
} */

/* -------------------------- */

/* .TutorialContainer{
    background-color: #008080;
    border: solid;
    margin-left: 3%;
    margin-right: 3%;
    display: grid;
    grid-area: tutorial;
    grid-template-areas: 
    "tutorialImage tutorialImage tutorialImage "
    "tutorialText tutorialText tutorialText"
    ". tutorialButton .";
    grid-auto-rows: 1fr 0.25fr 0.3fr;
    gap: 5%;
    padding: 1%;
    border-color: #9c4598;
    border-radius: 10px;
    box-shadow: 5px 8px 4px rgba(2,245,255,1);  
} */


    .TutorialContainer{
        /* background-color: #008080; */
        margin-left: 10%;
        margin-right: 10%;
        display: grid;
        grid-area: tutorial;
        grid-template-areas: 
        "tutorialImage tutorialImage tutorialImage "
        "tutorialText tutorialText tutorialText"
        ". tutorialButton .";
        grid-auto-rows: 1fr 0.25fr 0.3fr;
        gap: 5%;
        padding: 1%;
        /*border: solid;
        border-color: #9c4598;
        border-radius: 10px;
        box-shadow: 5px 8px 4px rgba(2,245,255,1);  */
    }

@media screen and (max-width: 767px) {
    .TutorialContainer{
        margin-left: 3%;
        margin-right: 3%;
    }
}

h2{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 28px;
    color: #000000;
    text-align: center;
}

.TextBox{
    padding: 2%;
    /* background-color: #627979; */
    /* display: grid;
    place-items: center; */
    grid-area: tutorialText;
}

.ImageBox{
    /* background-image: url("./TutorialCat.jpeg") ; */
    max-width: 80%;
    height: auto;
    /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block; */
  grid-area: tutorialImage;
  justify-self: center;

}

.PicturTutorial{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.ButtonBox{
    /* background-color: #0a5454; */
    display: grid;
    place-items: center;
    grid-area: tutorialButton;
}

.TutorialButton{
    width: 165px;
    height: 62px;
    cursor: pointer; /* загуглить */
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative; /* загуглить */
    background: #100720;
}

.TutorialButton::after{
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient( circle 
                      farthest-corner at 10% 20%, 
                      rgba(255,94,247,1) 17.8%, 
                      rgba(2,245,255,1) 100.2%);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

.TutorialButton:active{
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient( circle 
    farthest-corner at 10% 20%, 
    rgba(255,94,247,1) 17.8%, 
    rgba(2,245,255,1) 100.2%);;
}
