.MainAppContainer {
    grid-area: layout;
    display: grid;
    grid-template-areas:
        "header"
        /* "testing" */
        "description"
        "tables"
        "possibilities"
        /* "tutorial" */
        "subscript"
        "aboutUs"
        /* "conclusion" */
        "footer";
    row-gap: 1%;
}